.cat {
  background-image: url(../images/128x128/cat_fight.png); /* Путь к фоновому рисунку */
 /* background-position: right bottom;*/
  background-repeat: no-repeat;  
  position: absolute; 
  z-index: -1; 
  bottom: 1px; 
  right: 1px; 
  width: 130px; 
  height:130px;
  }
  
.grumpy {
  background-image: url(../images/128x128/cat_grumpy.png); /* Путь к фоновому рисунку */
 /* background-position: right bottom;*/
  background-repeat: no-repeat;  
  position: absolute; 
  z-index: -1; 
  bottom: 1px; 
  right: 1px; 
  width: 130px; 
  height:130px;
  }
  
.cage {
  background-image: url(../images/128x128/cat_cage.png); /* Путь к фоновому рисунку */
 /* background-position: right bottom;*/
  background-repeat: no-repeat;  
  position: absolute; 
  z-index: -1; 
  bottom: 1px; 
  right: 1px; 
  width: 130px; 
  height:130px;
  }